<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Node Sample App</title>

	<!-- CSS -->
	<!-- load bootstrap and our own personal stylesheet -->
	<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">

</head>
<body>

<div class="container">
	<div class="jumbotron">
		<h1>I'm unable to use "Beef Stew" as my password. Apparently it's not stroganoff.</h1>

		<form action="/getProduct" method="POST">
	    <div class="input-group">
	      <input name="scanned-upc" type="text" class="form-control" placeholder="Search for...">
	      <span class="input-group-btn">
	        <input class="btn btn-primary" type="submit" value="Go!">
	      </span>
	    </div>
  	</form>



	</div>
</div>
	
</body>
</html>